<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tour for Chinese</title>
</head>
<body>
	<h1>Welcome to our tour site!</h1>
	<% for (var i=0; i<TODOS.length; i++){ %>

		
		<div><h4>Name: <%= TODOS[i].firstname %> <%= TODOS[i].lastname %></h4>
		<form method="post" action="/todos/<%=TODOS[i].id%>?_method=DELETE">
		  <button type="submit">Delete story</button>
		</form>

		<form method="get" action="/todos/<%=TODOS[i].id%>">
		  <button type="submit">Edit story</button>
		</form>

		</div>
	<ul>

		<li>Location: <span><%= TODOS[i].location %></span></li>
		<li>About Myself: <span><%= TODOS[i].description %></span></li>

	</ul>
	<%}%>

	<button onClick="document.location.href='/todos/createStory'">
		Create My Story
	</button>

</body>
</html>